<h1 class="card-title">Gelatinous Monster</h1>

<hr/>

<p>
    Gelatinous Monster is an <a href="https://github.com/daiimus/gelatinous" target="_blank">in-development</a> 
    online text-based multiplayer game. You take on the role of a freelancer persona seeking fortune and glory 
    however you choose. Virtually immortal but physically fallible, you inhabit "sleeves" as you traverse a 
    new life in an offworld colony.
</p>

{% if telnet_enabled %}
<p>
    <strong>Connect via Telnet:</strong> {{ server_hostname }}, port
    {% for port in telnet_ports %}
    {% if not forloop.first and forloop.last %} or
    {% elif forloop.counter != 1 %},
    {% endif %}
    {{ port }}
    {% endfor %}
</p>
{% endif %}
